<template>
  <div class="storage-bloc">
    <h2>Spinner Selected</h2>
    <div class="elements">
      <div class="element">
        <img
          class="img-selected"
          src="https://images-na.ssl-images-amazon.com/images/I/711Hao5KXKL.png"
          alt="image-spinner"
        />
        <span>Spinner 2</span>
        <span class="btn-delete" @click="deleteSpinner">X</span>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "SpinnerSelected",
  setup: () => {
    const deleteSpinner = (data: any) => {
      console.log("DATA DELETED =>", data);
    };

    return { deleteSpinner };
  },
});
</script>

<style scoped>
.storage-bloc {
  border: 8px dashed green;
  width: 60%;
}
.image-bloc {
  margin: 16px;
  display: flex;
  flex-direction: column;
}
span {
  color: #000000;
}
.img-selected {
  width: 50px;
  height: 50px;
}
.element {
  display: flex;
  align-items: center;
  background-color: darkgray;
  justify-content: space-around;
}
span.btn-delete {
  cursor: pointer;
  font-weight: 900;
}
</style>
