<template>
  <div class="home">
    <h1>Spinner available {{ spinners.length - selected.length}}</h1>
    <div class="body">
      <ListSpinner />
      <SelectedSpinner />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, toRefs } from "vue";
import ListSpinner from "spinnerArray/ListSpinner";
import store  from "storeSpinner/StoreSpinner";
import SelectedSpinner from "spinnerShop/SelectedSpinner";
import HelloWorld from "../components/HelloWorld.vue"; // @ is an alias to /src

export default defineComponent({
  name: "Home",
  components: {
    ListSpinner,
    HelloWorld,
    SelectedSpinner,
  },
  setup(){
    console.log(store)
    return {
      ...toRefs(store)
    }
  }
});
</script>

<style scoped>
h1 {
  color: white;
  background-color: #8584ff;
  padding: 24px;
}
.body {
  display: flex;
}
</style>