<template>
  <div class="list-spinner">
    <div class="body-bloc">
      <div class="list-item">
        <div
          v-for="(spinner, index) in spinners"
          :key="spinner"
          class="image-bloc"
        >
          <img class="image" :src="spinner" @click="selectImg(spinner)" />
          <span>Spinner numéro {{ index }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { loadData, addSelected } from "storeSpinner/StoreSpinner";
import store from "storeSpinner/StoreSpinner";


export default defineComponent({
  name: "ListSpinner",
  setup: () => {

    loadData();
    console.log(store);

    const spinners = store.spinners;

    const selectImg = (data: any) => {
      addSelected(data);
      console.log("DATA =>", data);
      console.log(store);
    };

    return { spinners, selectImg };
  },
});
</script>

<style scoped>
.body-bloc {
  display: flex;
}
.list-item {
  border: 8px dashed red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center !important;
}

.image {
  height: 250px;
  width: 250px;
  cursor: pointer;
}
.image-bloc {
  margin: 16px;
  display: flex;
  flex-direction: column;
}
span {
  color: #000000;
}
</style>
