<template>
  <div class="storage-bloc">
    <h2>Spinner Selected</h2>
    <div class="elements">
      <div class="element" v-for="selected in selectedList" :key="selected">
        <img
          class="img-selected"
          :src="selected"
          alt="image-spinner"
        />
        <span>Spinner</span>
        <span class="btn-delete" @click="deleteSpinner(selected)">X</span>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { removeSelected } from "storeSpinner/StoreSpinner";
import store from "storeSpinner/StoreSpinner";

export default defineComponent({
  name: "SpinnerSelected",
  setup: () => {
    console.log(store)
    const deleteSpinner = (data: any) => {
      removeSelected(data)
      console.log("DATA DELETED =>", data);
    };

    const selectedList = store.selected

    return { deleteSpinner, selectedList };
  },
});
</script>

<style scoped>
.storage-bloc {
  border: 8px dashed green;
  width: 60%;
}
.image-bloc {
  margin: 16px;
  display: flex;
  flex-direction: column;
}
span {
  color: #000000;
}
.img-selected {
  width: 50px;
  height: 50px;
}
.element {
  display: flex;
  align-items: center;
  background-color: darkgray;
  justify-content: space-around;
}
span.btn-delete {
  cursor: pointer;
  font-weight: 900;
}
</style>
